@tailwind base;
@tailwind components;
@tailwind utilities;

/**
*
*	Name:			Ravi Fonts
*	Version:			2.0
*	Author:			Reza Bakhtiarifard (rbakhtiarifard.ir)
*	Created on:		April 2023
*	Updated on:		April 2023
*	Vendor:			http://fontiran.com
*	Copyright:		Commercial/Proprietary Software
--------------------------------------------------------------------------------------
فونت پیکان یک نرم افزار مالکیتی محسوب می شود. جهت آگاهی از قوانین استفاده از این فونت ها لطفا به وب سایت (فونت ایران دات کام) مراجعه نمایید
--------------------------------------------------------------------------------------
Ravi fonts are considered a proprietary software. To gain information about the laws regarding the use of these fonts, please visit www.fontiran.com 
--------------------------------------------------------------------------------------
This set of fonts are used in this project under the license: (.....)
------------------------------------------------------------------------------------- ../fonts/-
*	
**/


@font-face {
    font-family: Ravi;
    font-style: normal;
    font-weight: normal;
    src: url('../fonts/woff/RaviFaNum-Regular.woff') format('woff'),
        url('../fonts/woff2/RaviFaNum-Regular.woff2') format('woff2');
}

@font-face {
    font-family: Ravi;
    font-style: normal;
    font-weight: bold;
    src: url('../fonts/woff/RaviFaNum-Bold.woff') format('woff'),
        url('../fonts/woff2/RaviFaNum-Bold.woff2') format('woff2');
}

@font-face {
    font-family: Ravi;
    font-style: normal;
    font-weight: 950;
    src: url('../fonts/woff/RaviFaNum-ExtraBlack.woff') format('woff'),
        url('../fonts/woff2/RaviFaNum-ExtraBlack.woff2') format('woff2');
}

:root {
    --toastify-color-light: #fff;
    --toastify-color-dark: #121212;
    --toastify-color-info: #3498db;
    --toastify-color-success: #07bc0c;
    --toastify-color-warning: #f1c40f;
    --toastify-color-error: #e74c3c;
    --toastify-color-transparent: rgba(255, 255, 255, 0.7);

    --toastify-icon-color-info: var(--toastify-color-info);
    --toastify-icon-color-success: var(--toastify-color-success);
    --toastify-icon-color-warning: var(--toastify-color-warning);
    --toastify-icon-color-error: var(--toastify-color-error);

    --toastify-toast-width: 374px !important;
    --toastify-toast-background: #fff;
    --toastify-toast-min-height: 48px !important;
    --toastify-toast-max-height: 800px;
    --toastify-font-family: Ravi !important;
    --toastify-z-index: 9999;

    --toastify-text-color-light: #757575;
    --toastify-text-color-dark: #fff;

    --toastify-text-color-info: #fff;
    --toastify-text-color-success: #fff;
    --toastify-text-color-warning: #fff;
    --toastify-text-color-error: #fff;

    --toastify-spinner-color: #616161;
    --toastify-spinner-color-empty-area: #e0e0e0;


    --toastify-color-progress-light: linear-gradient(to right,
            #4cd964,
            #5ac8fa,
            #007aff,
            #34aadc,
            #5856d6,
            #ff2d55);
    --toastify-color-progress-dark: #bb86fc;
    --toastify-color-progress-info: var(--toastify-color-info);
    --toastify-color-progress-success: var(--toastify-color-success);
    --toastify-color-progress-warning: var(--toastify-color-warning);
    --toastify-color-progress-error: var(--toastify-color-error);

    --swiper-pagination-color: #fff;
    --swiper-pagination-left: auto;
    --swiper-pagination-right: 8px;
    --swiper-pagination-bottom: 8px;
    --swiper-pagination-top: auto;
    --swiper-pagination-fraction-color: inherit;
    --swiper-pagination-progressbar-bg-color: rgba(0, 0, 0, 0.25);
    --swiper-pagination-progressbar-size: 4px;
    --swiper-pagination-bullet-size: 8px;
    --swiper-pagination-bullet-width: 8px;
    --swiper-pagination-bullet-height: 8px;
    --swiper-pagination-bullet-inactive-color: #737477;
    --swiper-pagination-bullet-inactive-opacity: 1;
    --swiper-pagination-bullet-opacity: 1;
    --swiper-pagination-bullet-horizontal-gap: 4px;
    --swiper-pagination-bullet-vertical-gap: 6px;
}

.playlist {
    text-align: left;
    border-top: 1px solid rgba(0, 0, 0, 0.2);
}

.playlist-item {
    color: #444;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    cursor: pointer;
    padding: 1em;
}

.playlist-item.selected {
    font-weight: bold;
}

.playlist-item:hover {
    background: rgba(0, 0, 0, 0.1);
}

.controls {
    text-align: left;
    padding: 1em;
}

.uppy-DragDrop-container {
    font-family: Ravi !important;
}

.monospace {
    font-family: monospace !important;
}